
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background: linear-gradient(-45deg, #000000, #0a0a0a, #35001f, #c41f79);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

main{
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;    
}
main h1{
    text-align: center;
    margin-bottom: 50px;
}

main ul{
    list-style-type: none;
    padding-inline-start: 0;
    padding: 20px;

}
main ul li{
    color:#fff;
    margin: 10px 0;
    padding: 20px 30px;
    background: rgba(204, 204, 204, 0.308);
    border-radius: 10px;
    cursor: pointer;
}

input[type="checkbox"] { 
    filter: invert(10%) hue-rotate(90deg) brightness(1);
}
label {
    cursor: pointer;
}

button{
    display: block;
    margin: 0 auto;
    background: rgba(204, 204, 204, 0.308);
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    border:none;
    cursor: pointer;
}
button:hover{
    background: #ccc;
    color: #3a3a3a;
}